# 유튜브 뮤직 통계
- 노래 이름
- 가수 이름

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
def getSoup():
    driver = webdriver.Chrome('chromedriver.exe')
    url = 'https://www.youtube.com/playlist?list=PL4fGSI1pDJn6jXS_Tv_N9B8Z0HTRVJE0m'
    driver.get(url)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    return soup

In [2]:
soup = getSoup()

In [3]:
songs = soup.select('#video-title')
sing = soup.select('#text > a')

In [4]:
sing[0].text.strip()

'YouTube Music Global Charts'

In [5]:
songs[0].text.strip()

"[ENG SUB] [놀면 뭐하니? 후공개] SG 워너비 - '내 사람' 풀영상 (Hangout with Yoo - MSG Wannabe YooYaHo)"

In [6]:
len(sing)

101

In [7]:
len(songs)

100

In [8]:
sing[0]

In [9]:
def return_music(songs,sing):
    del sing[0]
    song_data =[]
    rank = 1
    for i in range(len(songs)):
        song = songs[i].text.strip()
        singer = sing[i].text.strip()
        song_data.append(['YouTube',rank,song,singer])
        rank = rank+1
    return song_data

In [10]:
df = return_music(songs,sing)
df

[['YouTube',
  1,
  "[ENG SUB] [놀면 뭐하니? 후공개] SG 워너비 - '내 사람' 풀영상 (Hangout with Yoo - MSG Wannabe YooYaHo)",
  '놀면 뭐하니?'],
 ['YouTube',
  2,
  "[ENG SUB] [놀면 뭐하니? 후공개] SG워너비 - '살다가' 풀영상 (Hangout with Yoo - MSG Wannabe YooYaHo)",
  '놀면 뭐하니?'],
 ['YouTube', 3, "롤린 (Rollin')", '브레이브걸스 - Topic'],
 ['YouTube', 4, 'Peaches', 'Justin Bieber'],
 ['YouTube', 5, 'LILAC (라일락)', '이지금 [IU Official]'],
 ['YouTube', 6, 'We Ride (운전만해 (We Ride))', '브레이브걸스 - Topic'],
 ['YouTube', 7, 'Dynamite', 'BANGTANTV'],
 ['YouTube', 8, 'My Starry Love (별빛 같은 나의 사랑아)', '임영웅'],
 ['YouTube', 9, 'Celebrity (Celebrity)', '이지금 [IU Official]'],
 ['YouTube', 10, '사이렌', 'Homies - Topic'],
 ['YouTube', 11, 'ASAP (ASAP)', 'STAYC'],
 ['YouTube', 12, 'Coin (Coin)', '이지금 [IU Official]'],
 ['YouTube',
  13,
  'LOVE DAY (2021) (Romance 101 X Yang Yoseop, Jeong Eun Ji) (LOVE DAY (2021) (바른연애...',
  'Yang Yoseop - Topic'],
 ['YouTube', 14, 'Lovesick Girls', 'BLACKPINK'],
 ['YouTube', 15, 'On The Ground', 'ROSÉ - Topic'],
 ['YouTube', 16, 'MELODY', 'ASH ISLAND - Topic'],
 ['YouTube',
  17,
  '[ENG] [고등래퍼4/8회 풀버전] Cold (Feat. 수퍼비) (Prod. Way Ched) - 김우림 @세미파이널 full ver.',
  'Mnet Official'],
 ['YouTube', 18, 'Leave The Door Open', 'Bruno Mars'],
 ['YouTube', 19, 'Panorama', 'official IZ*ONE'],
 ['YouTube', 20, 'Ah puh (어푸 (Ah puh))', '이지금 [IU Official]'],
 ['YouTube', 21, 'Atlantis', 'SHINee'],
 ['YouTube', 22, 'Just hug me', '다비치 DAVICHI'],
 ['YouTube', 23, 'My sea (아이와 나의 바다)', '이지금 [IU Official]'],
 ['YouTube', 24, '하이힐', '브레이브걸스 - Topic'],
 ['YouTube', 25, 'Kiss Me More', 'Doja Cat'],
 ['YouTube', 26, 'Timeless', 'SG Wannabe - Topic'],
 ['YouTube', 27, 'TAIL (꼬리 (TAIL))', '선미'],
 ['YouTube', 28, 'Nonstop', 'OH MY GIRL'],
 ['YouTube', 29, 'Why Not? (Why Not?)', 'loonatheworld'],
 ['YouTube', 30, 'How You Like That', 'BLACKPINK'],
 ['YouTube', 31, 'Epilogue (에필로그)', '이지금 [IU Official]'],
 ['YouTube',
  32,
  'eight (Prod. & Feat. SUGA of BTS) (에잇(Prod. & Feat. SUGA of BTS))',
  '이지금 [IU Official]'],
 ['YouTube', 33, 'Black Mamba', 'aespa'],
 ['YouTube', 34, 'Gone', 'ROSÉ - Topic'],
 ['YouTube', 35, "Don't Call Me", 'SHINee'],
 ['YouTube', 36, 'water color (water color)', 'Whee In - Topic'],
 ['YouTube', 37, "I CAN'T STOP ME", 'TWICE'],
 ['YouTube', 38, 'Ashes', 'Stellar'],
 ['YouTube', 39, 'Burn the House Down', 'AJR'],
 ['YouTube', 40, 'Hi spring Bye (봄 안녕 봄)', '이지금 [IU Official]'],
 ['YouTube', 41, 'Antidote', 'Kang Daniel - Topic'],
 ['YouTube', 42, '상상더하기', 'LABOUM - Topic'],
 ['YouTube', 43, 'At My Worst', 'Pink Sweats'],
 ['YouTube', 44, 'UNNATURAL (UNNATURAL)', '우주소녀 WJSN'],
 ['YouTube',
  45,
  'Slightly Tipsy (She is My Type♡ X SANDEUL) (취기를 빌려 (취향저격 그녀 X 산들))',
  'Sandeul - Topic'],
 ['YouTube', 46, 'Everything Black (feat. Mike Taylor)', 'Unlike Pluto'],
 ['YouTube', 47, "can't sleep (잠이 오질 않네요)", '장범준'],
 ['YouTube', 48, 'Flu (Flu)', '이지금 [IU Official]'],
 ['YouTube', 49, 'You make Me', 'DAY6'],
 ['YouTube', 50, '붐바야 (Boombayah)', 'BLACKPINK'],
 ['YouTube', 51, 'Up', 'Cardi B'],
 ['YouTube', 52, '라라라 메달', 'SG Wannabe - Topic'],
 ['YouTube', 53, '어떤X (What Type of X)', 'Jessi'],
 ['YouTube', 54, 'INSIDE OUT', "NU'EST"],
 ['YouTube', 55, 'Daisy (feat. pH-1)', 'Mirani - Topic'],
 ['YouTube',
  56,
  'I will be your shining star (밝게 빛나는 별이 되어 비춰줄게)',
  'Song I Han - Topic'],
 ['YouTube', 57, 'VVS (Feat. JUSTHIS) (Prod. GroovyRoom)', 'Miranni - Topic'],
 ['YouTube', 58, 'After School (After School)', 'Weeekly - Topic'],
 ['YouTube', 59, 'Coffee With Me (커피한잔할래요)', '폴킴 - Paul Kim Official'],
 ['YouTube', 60, 'Happy Face', 'Jagwar Twin'],
 ['YouTube', 61, 'Levitating (feat. DaBaby)', 'Dua Lipa'],
 ['YouTube', 62, '이렇게 좋아해 본 적이 없어요', '치즈 / CHEEZE'],
 ['YouTube', 63, 'MAGO', '여자친구 GFRIEND OFFICIAL'],
 ['YouTube',
  64,
  'HWAA (화(火花))',
  '(G)I-DLE (여자)아이들 (Official YouTube Channel)'],
 ['YouTube',
  65,
  'Troll (Feat. DEAN) (돌림노래 (Feat. DEAN))',
  '이지금 [IU Official]'],
 ['YouTube', 66, 'I’m Not Cool', 'HyunA'],
 ['YouTube', 67, 'View', 'SHINee'],
 ['YouTube', 68, 'On That Day (그날에 나는 맘이 편했을까)', 'Lee Ye Joon - Topic'],
 ['YouTube', 69, 'John Cena (feat. Northfacegawd, JUSTHIS, Layone)', '염따'],
 ['YouTube', 70, 'Bambi', 'BAEKHYUN - Topic'],
 ['YouTube', 71, 'I Still Love You (추억은 만남보다 이별에 남아)', 'Jung Dong Ha - Topic'],
 ['YouTube', 72, 'In Dreams (너의 흔적)', 'M.C the MAX Official'],
 ['YouTube', 73, 'Mood', '24kGoldn'],
 ['YouTube',
  74,
  'Follow Me (Prod. by Young Tak) (따라따라와 (Prod. by 영탁))',
  'Kim Hee Jae - Topic'],
 ['YouTube', 75, 'pov', 'Ariana Grande'],
 ['YouTube', 76, 'Like Water', 'WENDY - Topic'],
 ['YouTube', 77, '임영웅 [자랑] 뽕숭아학당 (ENG)', '임영웅'],
 ['YouTube',
  78,
  'Borrow your night (Romance 101 X 10CM) (이 밤을 빌려 말해요 (바른연애 길잡이 X...',
  '10CM_Official'],
 ['YouTube', 79, '07 Britney', 'Chelsea Collins'],
 ['YouTube', 80, '한잔해', '박군 - Topic'],
 ['YouTube', 81, 'Killer', 'Valerie Broussard'],
 ['YouTube', 82, 'Sequence', 'official IZ*ONE'],
 ['YouTube', 83, 'Film out', 'BANGTANTV'],
 ['YouTube', 84, '축가 Serenade', 'Jeon Woo Sung - Topic'],
 ['YouTube', 85, 'STEP BY STEP', 'OH MY GIRL'],
 ['YouTube', 86, 'Savage Love (Laxed - Siren Beat)', 'Jawsh 685 [ L A S ]'],
 ['YouTube', 87, 'Racks On Racks (사임쌓임)', 'SUPERBEE - Topic'],
 ['YouTube', 88, 'Dial Your Number', '#An Nyeong - Topic'],
 ['YouTube', 89, '예뻤어 You Were Beautiful', 'DAY6'],
 ['YouTube', 90, 'PARTY', "GIRLS' GENERATION"],
 ['YouTube',
  91,
  'Warning (Feat. lIlBOI) (Warning (Feat. lIlBOI))',
  'SEJEONG - Topic'],
 ['YouTube', 92, 'Bicycle', 'CHUNG HA_Official'],
 ['YouTube', 93, 'Every End of the Day (하루 끝)', '이지금 [IU Official]'],
 ['YouTube', 94, '어른 Grown Ups', 'Sondia - Topic'],
 ['YouTube', 95, 'Sailing', 'AHN YE EUN - Topic'],
 ['YouTube', 96, 'Hold On', 'Justin Bieber'],
 ['YouTube', 97, 'Beautiful Mistakes', 'Maroon 5'],
 ['YouTube',
  98,
  'We Were (Prod. by Lee Chanhyuk of AKMU) (우린 (Prod. by 이찬혁 of AKMU))',
  'Lee Seung-chul - Topic'],
 ['YouTube', 99, '너 때문에 미쳐', 'ONE LOVE ASIA'],
 ['YouTube', 100, 'dlwlrma (이 지금)', '이지금 [IU Official]']]

In [11]:
columns = ['서비스','순위','타이틀','가수']

In [12]:
pd_data = pd.DataFrame(df, columns = columns)
pd_data

,서비스,순위,타이틀,가수
0,YouTube,1,[ENG SUB] [놀면 뭐하니? 후공개] SG 워너비 - '내 사람' 풀영상 (H...,놀면 뭐하니?
1,YouTube,2,[ENG SUB] [놀면 뭐하니? 후공개] SG워너비 - '살다가' 풀영상 (Han...,놀면 뭐하니?
2,YouTube,3,롤린 (Rollin'),브레이브걸스 - Topic
3,YouTube,4,Peaches,Justin Bieber
4,YouTube,5,LILAC (라일락),이지금 [IU Official]
...,...,...,...,...
95,YouTube,96,Hold On,Justin Bieber
96,YouTube,97,Beautiful Mistakes,Maroon 5
97,YouTube,98,We Were (Prod. by Lee Chanhyuk of AKMU) (우린 (P...,Lee Seung-chul - Topic
98,YouTube,99,너 때문에 미쳐,ONE LOVE ASIA
99,YouTube,100,dlwlrma (이 지금),이지금 [IU Official]

## 국적별 파일 생성

In [13]:
def create_kto_data(yy, mm):
    #1. 불러올 Excel 파일 경로를 지정해주기
    file_path = 'w09_/up_files/kto_{}{}.xlsx'.format(yy, mm)  
    
    # 2. Excel 파일 불러오기 
    df = pd.read_excel(file_path, header=1, skipfooter=4, usecols='A:G')
    
    # 3. "기준년월" 컬럼 추가하기 
    df['기준년월'] = '{}-{}'.format(yy, mm) 
    
    # 4. "국적" 컬럼에서 대륙 제거하고 국가만 남기기 
    ignore_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']    # 제거할 대륙명 선정하기 
    condition = (df['국적'].isin(ignore_list) == False)    # 대륙 미포함 조건 
    df_country = df[condition].reset_index(drop=True) 
    
    # 5. "대륙" 컬럼 추가하기 
    continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['대양주']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']    # 대륙 컬럼 생성을 위한 목록 만들어 놓기 
    df_country['대륙'] = continents   
                       
    # 6. 국가별 "관광객비율(%)" 컬럼 추가하기 
    df_country['관광객비율(%)'] = round(df_country.관광 / df_country.계 * 100, 1) 
                       
    # 7. "전체비율(%)" 컬럼 추가하기 
    tourist_sum = sum(df_country['관광'])
    df_country['전체비율(%)'] = round(df_country['관광'] / tourist_sum * 100, 1)
    
    # 8. 결과 출력하기 
    return(df_country)

In [14]:
kto_test = create_kto_data(2018, 12)
kto_test.head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,252461,1698,161,608,3593,258521,2018-12,아시아,97.7,22.7
1,대만,85697,71,22,266,1252,87308,2018-12,아시아,98.2,7.7
2,홍콩,58355,41,3,208,939,59546,2018-12,아시아,98.0,5.2
3,마카오,6766,0,1,20,36,6823,2018-12,아시아,99.2,0.6
4,태국,47242,42,302,58,6382,54026,2018-12,아시아,87.4,4.2

In [15]:
cntry_list = kto_test['국적']

In [16]:
print(len(cntry_list))
print(kto_test['국적'][59])

60
교포

In [17]:
#-------------------------------
# 각 파일을 합해 새 파일 만들기 위한 작업 필요
df = pd.DataFrame()

#-------------------------------
# 엑셀 파일 불러와서 합하기
for yy in range(2010, 2021):
    for mm in range(1, 13):
        temp = create_kto_data(str(yy), str(mm).zfill(2))
        df = df.append(temp, ignore_index=True)

FileNotFoundError: [Errno 2] No such file or directory: 'w09_/up_files/kto_202006.xlsx'

In [18]:
# test
country='china'
file_path = 'kto_{}.xlsx'.format(country)
df.to_excel(file_path,index = False)

In [19]:
condition = (df['국적']=='중국')
df_filter = df[condition]
df_filter

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
17,중국,40425,11930,55,2751,36091,91252,2010-01,아시아,44.3,10.1
77,중국,60590,7907,68,29546,42460,140571,2010-02,아시아,43.1,13.6
137,중국,50330,13549,174,14924,62480,141457,2010-03,아시아,35.6,9.2
197,중국,84252,13306,212,2199,47711,147680,2010-04,아시아,57.1,15.5
257,중국,89056,12325,360,2931,49394,154066,2010-05,아시아,57.8,17.0
...,...,...,...,...,...,...,...,...,...,...,...
7217,중국,393336,2813,99,10433,75000,481681,2020-01,아시아,81.7,38.2
7277,중국,49520,715,11,20753,33087,104086,2020-02,아시아,47.6,9.8
7337,중국,5040,115,2,7388,4050,16595,2020-03,아시아,30.4,16.0
7397,중국,522,71,0,1112,2230,3935,2020-04,아시아,13.3,10.2
7457,중국,179,70,2,1189,3684,5124,2020-05,아시아,3.5,2.9

In [20]:
len(df['국적'])

7500

In [21]:
cntry_list = kto_test['국적']

In [22]:
cntry_list

0           일본
1           대만
2           홍콩
3          마카오
4           태국
5        말레이시아
6          필리핀
7        인도네시아
8         싱가포르
9          미얀마
10         베트남
11          인도
12        스리랑카
13        파키스탄
14       방글라데시
15        캄보디아
16          몽골
17          중국
18          이란
19        이스라엘
20          터키
21      우즈베키스탄
22       카자흐스탄
23         GCC
24      아시아 기타
25          미국
26         캐나다
27         멕시코
28         브라질
29       미주 기타
30          영국
31          독일
32         프랑스
33        네덜란드
34         스웨덴
35         스위스
36        이탈리아
37         덴마크
38        노르웨이
39         벨기에
40       오스트리아
41         스페인
42         그리스
43        포르투갈
44         핀란드
45        아일랜드
46       우크라이나
47         러시아
48       크로아티아
49        루마니아
50        불가리아
51         폴란드
52       구주 기타
53     오스트레일리아
54        뉴질랜드
55      대양주 기타
56    남아프리카공화국
57     아프리카 기타
58        국적미상
59          교포
Name: 국적, dtype: object

In [23]:
condition = (df['국적']==cntry_list[0])
condition

0        True
1       False
2       False
3       False
4       False
        ...
7495    False
7496    False
7497    False
7498    False
7499    False
Name: 국적, Length: 7500, dtype: bool

In [24]:
for country in cntry_list:
    file_path = 'kto_{}.xlsx'.format(country)
    condition = (df['국적']==country)
    df_filter = df[condition]
    df_filter.to_excel(file_path,index = False)

## 실습 종료후 인스타그램 아이디

- 프로필 : dkzndk1400
- 캡스톤 주제 :
- 조원 이름 : 노영훈, 이승엽