In [1]:
3+4

7

In [2]:
a=123
a=12.34
a=1+2j
a.real

1.0

In [3]:
a.imag

2.0

In [4]:
a.conjugate()

(1-2j)

In [5]:
abs(a)

2.23606797749979

In [6]:
a=0o12 # 1*8+2=>10
a

10

In [7]:
a=0x12
a

18

In [8]:
a=0x12a
a

298

In [9]:
# a= 1*16^2 + 2*16^1 + 10 => 256+32+10 =>298
a= 1*16^2 + 2*16^1 + 10
a

57

In [10]:
b=True
b

True

In [11]:
a=3
b=4
a
b

4

In [12]:
print(a)
print(b)

3
4

In [13]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)
print(7%3)
print(7//3)

7
-1
12
0.75
3
0
81
1
2

In [14]:
s1 = 'Hello Python'
s1

'Hello Python'

In [15]:
s2 = "Hello Python"
s2

'Hello Python'

In [16]:
s3 = '''Hello Python'''
s4 = """Hello Python"""
print(s3)
print(s4)

Hello Python
Hello Python

In [17]:
s3

'Hello Python'

In [18]:
head = 'Python'
tail = ' is fun'
head+tail

'Python is fun'

In [19]:
head*2

'PythonPython'

In [20]:
print("="*5)

=====

In [21]:
a = "Now is better than never"

In [22]:
print(a[0])
print(a[4])
print(a[-1])
print(a[-2])

N
i
r
e

In [23]:
b=a[0]+a[1]+a[2]
b

'Now'

In [24]:
a[0:3]

'Now'

In [25]:
print(a[4:6])
print(a[19:])
print(a[:3])
print(a[:])
print(a[7:-11])

is
never
Now
Now is better than never
better

In [26]:
a = 'Python'
a.count('p')

0

In [27]:
a.find('y')

1

In [28]:
a.find('p')

-1

In [29]:
a.index('y')

1

In [30]:
a.index('P')

0

In [31]:
b = "," 
c = b.join('Abcd') 
c

'A,b,c,d'

In [32]:
print(a.upper())
print(a.lower())

PYTHON
python

In [33]:
d = "   py   " 
print(d.lstrip())
print(d.rstrip())
print(d.strip())

py
   py
py

In [34]:
d.lstrip()

'py   '

In [35]:
d.strip()

'py'

In [36]:
d

'   py   '

In [37]:
a

'Python'

In [38]:
# 문자열은 불변
# a[1] ='I' 에러 : 문자열은 불변 
# 해결 방안 a = a[:1]+ 'i' +a[1+1:]
a = a[:1]+ 'i' +a[1+1:]
a

'Pithon'

In [39]:
a = "Python is difficult."

In [40]:
a.replace("difficult", "funny")

'Python is funny.'

In [41]:
a.split()

['Python', 'is', 'difficult.']

In [42]:
b = "a, b, c, d" 
b

'a, b, c, d'

In [43]:
b.split()

['a,', 'b,', 'c,', 'd']

In [44]:
b.split(',')

['a', ' b', ' c', ' d']

In [45]:
a = [1, 2, 3] 
b = ['Life', 'is', 'too', 'short'] 
c = [1, 2, 'Life', 'is'] 
d = [1, 2, [3, 4], ['Life', 'is']]
d[0]

1

In [46]:
d[2]

[3, 4]

In [47]:
d[3]

['Life', 'is']

In [48]:
d[3][-1]

'is'

In [49]:
d[0:3]

[1, 2, [3, 4]]

In [50]:
a+b

[1, 2, 3, 'Life', 'is', 'too', 'short']

In [51]:
b[0]+" hi~ ^^;"

'Life hi~ ^^;'

In [52]:
# a는 int타입 List이므로 String타입을 넣어줄 수 없음.
# a[0]+" hi~ ^^;"

In [53]:
e = ['1', '2']
e[0]+" hi~ ^^;"

'1 hi~ ^^;'

In [54]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [55]:
a[2] = 99
a

[1, 2, 99]

In [56]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 99]

In [57]:
a[-1] = ['d', 'e', 'f']
a

[1, 'a', 'b', 'c', ['d', 'e', 'f']]

In [58]:
del a[-1]
a

[1, 'a', 'b', 'c']

In [59]:
a.append(5)
a

[1, 'a', 'b', 'c', 5]

In [60]:
b

['Life', 'is', 'too', 'short']

In [61]:
b.sort()
b

['Life', 'is', 'short', 'too']

In [62]:
a = [3, 4, 1, 9]
print(a)
a.reverse()
print(a)

[3, 4, 1, 9]
[9, 1, 4, 3]

In [63]:
a.index(9)

0

In [64]:
a.insert(0,99)
a

[99, 9, 1, 4, 3]

In [65]:
a.remove(99)
a

[9, 1, 4, 3]

In [66]:
b=[1, 2, 3]
b.pop()

3

In [67]:
b

[1, 2]

In [68]:
b.pop(0)

1

In [69]:
b

[2]

In [70]:
a = [2, 1, 0, 2, 3, 2, 4, 2]
a.count(2)

4

In [71]:
t1 = (1, )
t2 = (1, 2, 3)
t3 = 1,2,3
t4 = (1,2,(3,4),('Life','is'))
t4[0]

1

In [72]:
t4[3][-1]

'is'

In [73]:
t4[0:3]

(1, 2, (3, 4))

In [74]:
t1+t2

(1, 1, 2, 3)

In [79]:
t1+"hi~ ^^;"

TypeError: can only concatenate tuple (not "str") to tuple

In [85]:
t5 = ('hi')
t4+ t5

TypeError: can only concatenate tuple (not "str") to tuple

In [ ]:
t2*3

In [ ]:
t2[2]=99

In [ ]:
x=3
y=2
x==y

In [ ]:
x!=y

In [ ]:
money=1300
if money >= 1200 and money < 3500:
    print("버스를 탈 수 있습니다.")

In [ ]:
1 in [1,2,3]

In [ ]:
x in [1, 2, 3]

In [ ]:
x not in [1, 2, 3]

In [ ]:
'a' in ('a', 'b', 'c', 'd')

In [ ]:
'i' not in 'Python'

In [ ]:
if money <10:
    pass
else:
    print('저금하자')

In [ ]:
money = input()

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
    x=i+'!'
    print(x)

In [ ]:
number = 0
for score in [90, 25, 67, 45, 93]:
    number += 1
    if score >= 60:
        print("%d번 학생은 합격입니다." %number)
    else:
        print("%d번 학생은 불합격입니다." %number)

In [ ]:
i=0
while i<5:
    i += 1
    print('*'*i)